In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Resources/election_data.csv")

In [4]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
candidatevotes = df.Candidate.value_counts()

In [7]:
candidatevotes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [47]:
total_votes = df['Candidate'].count()

In [48]:
total_votes

3521001

In [23]:
percentage_votes = ((candidatevotes/total_votes) *100).round(1)

In [29]:
percentage_votes

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [30]:
MostVotes = candidatevotes.max()
winningcand = candidatevotes.idxmax()

In [52]:

print("Total Votes:" + str(total_votes))
print(percentage_votes)
print(str(winningcand) + " won the election with " + str(MostVotes) + " votes.")

Total Votes:3521001
Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64
Khan won the election with 2218231 votes.